@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap');

:root {
    /* Primary Colors */
    --pink: hsl(322, 100%, 66%);

    /* Neutral Colors */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
}
li {
    list-style-type: none;
}

/* Huddle Landing Page Styles */