@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap');

:root {
    /* Primary Colors */
    --pink: hsl(322, 100%, 66%);

    /* Neutral Colors */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--grayish-blue);
    /* max-width: 480px;
    width: 90%;
    margin: 0 auto; */
}
img {
    display: block;
    width: 100%;
}
li {
    list-style-type: none;
}
h1 {
    font-size: 1.56rem;
    margin-bottom: 1.8rem;
}
h2 {
    font-size: 1.34rem;
}
p {
    font-size: 14.7px;
}
a {
    text-decoration: none;
}
button {
    background-color: var(--pink);
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 24px;
    width: 250px;
    padding: .8rem 2rem;
}
.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--very-dark-cyan);
}

/* Huddle Landing Page Styles */
.header__intro,
.header__content,
main {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
}
#huddle__header {
    min-height: 100vh;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url('../images/bg-hero-mobile.svg') center top no-repeat;
    background-size: 100vw 100%;
    background-color: var(--very-pale-cyan);
}
.header__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5rem;
}
.header__logo {
    width: 120px;
    height: 100%;
}
.header__btn {
    background-color: hsl(0, 0%, 100%);
    color: var(--very-dark-cyan);
    font-size: .8rem;
    width: 120px;
    height: 30px;
    padding: unset;
    box-shadow: 2px 4px 7px 0px hsl(208, 11%, 55%, 0.3);
}
.header__info {
    padding: 0 1.5rem;
}
.header__description {
    color: var(--very-dark-cyan);
    margin-bottom: 2rem;
}
.header__info .huddle__btn {
    margin-bottom: 4rem;
}
#huddle__main {
    margin-top: 5rem;
}
.mockup__img {
    margin-bottom: 4rem;
}
h2.heading {
    margin-bottom: 1rem;
}
.description {
    font-size: .86rem;
}
.your__users__description .description {
    font-size: .9rem;
}
.your__users {
    margin-bottom: 4rem !important;
}
.huddle__feedback {
    position: relative;
    top: 4rem;
    z-index: 1;
}
.huddle__feedback .card__container {
    padding: 3rem 1.5rem 2.5rem;
}
.huddle__feedback .feedback__title {
    font-size: 1.04rem;
}
.huddle__feedback .huddle__btn {
    font-size: .7rem;
    width: 200px;
    box-shadow: 0px 3px 7px 0px hsl(208, 11%, 55%, 0.5);
}
#huddle__footer {
    background-color: var(--very-dark-cyan);
    position: absolute;
    left: 0;
    width: 100%;
    padding: 9rem 1rem 4rem;
    text-align: left;
    color: hsl(0, 0%, 100%);
}
.footer__logo {
    filter: invert(96%) sepia(97%) saturate(1%) hue-rotate(94deg) brightness(103%) contrast(100%);
    width: 200px;
    margin-bottom: 1.5rem;
}
.site__location,
.site__contact,
.site__email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
    margin-bottom: 1.5rem;
}
.site__location {
    align-items: flex-start;
}
.site__email {
    margin-bottom: 4rem;
}
.icon__img {
    width: 20px;
}
img.site__icon {
    width: inherit;
    object-fit: scale-down;
}
.site__description {
    font-size: 1rem;
    line-height: 1.6;
}
.site__links {
    line-height: 2.5;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}
.social__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;
}
.social__link {
    height: 30px;
    width: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1.2rem;
    position: relative;
}
.social__link i {
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.copyright__info {
    font-family: 'Poppins', sans-serif;
    font-size: .75rem;
    text-align: center;
}


/* Utility Components */
section:not(.huddle__feedback) {
    margin-bottom: 3rem;
}
.card__container {
    background-color: hsl(0, 0%, 100%);
    padding: 4rem 2.3rem 2.8rem;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 0px hsl(208deg 11% 55% / 20%);
}


/* Media Queries - Large Screen Sizes */
@media screen and (min-width: 480px) {
    .header__intro,
    .header__content,
    main {
        max-width: 600px;
    }
}


@media screen and (min-width: 768px) {
    body {
        text-align: left;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: .95rem !important;
    }
    #huddle__header {
        background: url('../images/bg-hero-desktop.svg') left top no-repeat;
        background-size: 100vw;
        background-color: var(--very-pale-cyan);
        padding-top: 3rem;
    }
    .header__intro,
    .header__content,
    main {
        max-width: 1024px;
    }
    .header__intro {
        margin-bottom: 9rem;
    }
    .header__logo {
        width: 200px;
    }
    .header__btn {
        width: 180px;
        height: 45px;
        font-size: .9rem;
    }
    .header__content {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        gap: 1rem;
    }
    .header__info {
        align-self: center;
    }
    .header__title {
        font-size: 1.6rem;
    }
    .header__description {
        font-size: .95rem;
    }
    .huddle__btn {
        font-size: .8rem;
        height: 50px;
    }
    #huddle__main {
        margin-top: 9rem;
    }
    section:not(.huddle__feedback) {
        margin-bottom: 2.5rem;
    }
    .card__container:not(.huddle__feedback .card__container) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        padding: 3rem 1rem 3rem 5rem;
    }
    .flowing__conversations .card__container {
        flex-direction: row !important;
    }
    .mockup__img {
        margin-bottom: 0;
    }
    .huddle__feedback {
        text-align: center;
    }
    .huddle__feedback .card__container {
        padding: 3rem 1.5rem;
    }
    .feedback__title {
        font-size: 1.7rem !important;
        margin-bottom: 1.5rem !important;
    }
    .huddle__feedback .huddle__btn {
        font-size: 1rem;
        width: 300px;
        height: 60px;
        border-radius: 30px;
    }
}